<div class="app-container">
  <div class="dashboard-container">
    <div class="sidebar">
      <h2>Dashboard</h2>
      <ul>
        <li>
          <a routerLink="/tasks">
            <i class="ri-checkbox-multiple-line"></i>
            Tasks
          </a>
        </li>
        <li>
          <a routerLink="/important-tasks">
            <i class="ri-star-line"></i>
            Important
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>